<div id="<%= dom_id user %>">
  <p class="title">
    <%# <strong class="title">First namee:</strong> %>
    <%= user.first_name %>
  </p>

  <p class="sub-title">
    <%= user.last_name %>
  </p>

  <p class="description">
    <strong>Edad:</strong>
    <%= user.age %>
  </p>
</div>
