<div class="container">
  <div class="breadcrumb">
    <%= link_to users_path, :class=>"link" do %>
      <i class="fas fa-arrow-circle-left"></i>
       Ver todos los Usuarios
    <% end %> 
  </div>
  <br>
  <h1 class="title">Editar Usuario</h1>
  <%= render "form", user: @user, title: "Editar Usuario" %>
</div>